#cards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  /*一張卡片佔多大比例, 卡片在容器裡的排版*/
  flex: 7% 0 1; 
  /* flex-basis, flex-grow, flex-shrink 0代表不會分配剩餘空間, 1代表會分配剩餘空間, 2是加權*/
  height: 8vw;
  border: 2px solid #FFCCFF;
  /*卡片內部元素*/
  display: flex;
  margin: 2px;
  /*MAIN AXIS*/
  flex-direction: column;
  justify-content: space-around;

}

.card img{
max-width: 30%;
align-self:center;

}

.card p{
margin:3px;
font-size: 10px;
}

.card p:last-child{
  transform: rotate(180deg)
}

.back {
    background: url('https://scontent.fkhh2-1.fna.fbcdn.net/v/t39.30808-6/269884163_10221708270955241_3118709043592585470_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=OPvqangu78kAX_VdVGm&_nc_ht=scontent.fkhh2-1.fna&oh=00_AT9AD34i0M92Brme3aR2jhevvU5zCggLTq05iaeqL2Ejiw&oe=61FA22B4');
    background-size: cover;
}

.paired {
  background-color: #fcddfc;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}
#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .title img {
  max-width: 4em;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #f851f8;
}
#header .tried {
  margin-top: 0;
}

.wrong{
  animation: wrongAnimation 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: rgb(201, 16, 238);
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #f5ba61;
}